
body
{
	margin: 0.0;
}

#container
{
	margin: 0.0;
}

#divA
{
	width: 500px;
	height: 500px;
	background-color: yellowgreen;
}

.topBar
{
	position: -webkit-sticky;
	position: sticky;
	z-index: 1020;
	top: 0px;
	
	width: 100%;
	height: 50px;

	background-color: yellowgreen;
}

.tuneGroup
{
	background-color: orange;
	height: 200px;
	width: 100%;

	margin-top: 5px;
}

.tune
{
	background-color: blueviolet;
	height: 200px;
	width: 100%;
	margin-top: 5px;
}

