:root {

    color: p;

    --body-and-picker-and-logo-text: black;

    --logo-bg: rgb(255, 255, 255);
    --logo-text: black;

    --btn: rgb(255, 255, 255);
    --btn-text: black;
    --btn-hover: #F18701;

    --player-width: 200px;
    --player-height: 200px;
}


* {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    /* bc firefox fixed issue*/
    background-color: var(--body-and-picker-and-logo-text);
}

.playerControllerSection {
    width: 214px;
    height: 100%;
    font-size: 0px;
    position: fixed;
    text-align: right;
    padding-right: 14px;
}

#taleTunesContainer {
    position: relative;
    display: inline-grid;
    margin-top: 14px;
    width: 200px;
    height: 320px;
    font-size: 0px;
    background-color: var(--logo-bg);
    border-radius: 7px;
    margin-bottom: 14px;
}

#taleTunes {
    position: relative;
    width: 160px;
    height: 160px;
    left: 50%;
    top: 50%;
    translate: -50% -54%;
    font-size: 3rem;
    text-align: center;
    font-weight: 999;

    color: var(--logo-text);
}

.divButton {
    width: 80px;
    height: 55px;
    margin-left: 14px;
    margin-bottom: 14px;
    padding: 6.5px;
    text-align: left;
    font-size: 16px;
    font-weight: 499;
    border-radius: 7px;
    position: relative;
    display: inline-grid;
    color: var(--btn-text);
    background-color: var(--btn);
}

.divButton:hover {
    background-color: var(--btn-hover);
}

.playerContainerSection {
    left: 228px;
    padding-top: 64px;
    width: calc(100vw - 228px);
    font-size: 0;
    text-align: left;
    position: absolute;
    background-color: black;
    padding-bottom: 100px;
}

.playerContainer {
    width: var(--player-width);
    height: var(--player-height);
    /*border-radius: 7px;*/
    display: inline-block;
    overflow: hidden;
    border-radius: 7px;
    margin: 14px;

    /*background-color: green;*/
}

.picker {
    width: var(--player-width);
    height: var(--player-height);
    position: absolute;
    border-radius: 0px;
    /*background-color: var(--body-and-picker-and-logo-text);*/
    /*pointer-events: none;*/
}

.picker:hover {
    opacity: 0.3 !important;
    transition: 'opacity 0.1s' !important;
}

.player {
    /*
    width: var(--player-width);
    height: var(--player-height);
    */
    width: 500px;
    height: 500px;
    translate: -150px -150px;
    font-size: 0rem;
}

.infoBar {
    position: relative;
    width: 100%;
    bottom: 90%;
    padding-left: 7px;
    color: white;
    font-size: 1rem;
    text-align: left;
    margin-top: -20px;
}

@media (max-width:500px) {}