:root {
    --player-width: 200px;
    --player-height: 200px;

    --dark-color: black;
    --light-color: cornsilk;
    --signal-color: deeppink;
}

* {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    /* bc firefox fixed elem issue*/
    height: 100%;
    background-color: var(--dark-color);
}

.playerControllerSection {
    width: 214px;
    height: 100%;
    font-size: 0px;
    position: fixed;
    text-align: right;
    padding-left: 14px;
    padding-top: 14px;
}

#taleTunesLettersContainer {
    position: relative;
    display: inline-grid;
    margin-top: 14px;
    width: 200px;
    height: 320px;
    font-size: 0px;
    border-radius: 7px;
    margin-bottom: 14px;
    background-image: url("images/tuneImages/img4.jpeg");
}

#taleTunesLetters {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    position: relative;
    width: 90px;
    height: 160px;
    padding-top: 56px;
    left: 50%;
    top: 50%;
    translate: -50% -54%;
    font-size: 2rem;
    text-align: center;
    font-weight: 999;
    color: var(--bg-color);
}

.divButton {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    width: 78px;
    height: 49px;
    margin-left: 14px;
    margin-bottom: 14px;
    padding: 6.5px;
    text-align: center;
    font-size: 16px;
    font-weight: 0;
    border-radius: 7px;
    position: relative;
    display: inline-grid;
    color: var(--light-color);
    background-color: none;
    transition: 0.2s;
    border: dashed 1px;
    border-color: var(--light-color);
}

.divButton:hover {
    background-color: var(--light-color);
    color: black;
}

.playerContainerSection {
    left: 214px;
    padding-top: 70px;
    width: calc(100vw - 214px);
    font-size: 0;
    text-align: left;
    position: absolute;
}

.playerContainer {
    display: inline-grid;
    width: var(--player-width);
    height: var(--player-height);
    border-radius: 7px;
    padding-left: 14px;
    padding-bottom: 14px;
    margin-left: 14px;
    margin-top: 14px;
}

.picker {
    position: absolute;
    border-radius: 7px;
    padding: 7px;
    transition: 1s;
    font-size: 1rem;
    color: var(--light-color);
    text-align: left;
    font-weight: 999;
    width: var(--player-width);
    height: var(--player-height);
    opacity: 1.0;
}

.picker:hover {
    transition: all 0.5s !important;
}

.player {
    width: 200px;
    height: 200px;
    opacity: 0.0;
    position: absolute;
    width: 200px;
    height: 200px;
    font-size: 0rem;
    pointer-events: none;

}

.tuneInfo {
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

    pointer-events: none;

    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 7px;
    padding: 7px 7px;
    pointer-events: none z-index: 20;
    font-size: 1rem;
    color: red;
    z-index: 10;

    opacity: 0;
    transition: opacity 1s;
}

.videoDescribtionDiv {
    width: 160px;
    height: 175px;
    padding-top: 20px;
    color: var(--light-color);
    font-size: 1rem;
}

.volumeBarBackground {
    position: absolute;
    width: 7px;
    right: 14px;
    height: 176px;
    background-color: black;
    bottom: 18px;
    border-radius: 7px;
}

.volumeBarVolume {
    position: absolute;
    width: 7px;
    right: 14px;
    height: 176px;
    background-color: var(--light-color);
    border-radius: 7px;
    opacity: 1.0;
    bottom: 18px;
    transition: height 0.2s;
}


.volumeBarTarget {
    position: absolute;
    width: 15px;
    height: 15px;
    translate: 192px 193px;
    translate: 192px -7px;
    background-color: var(--light-color);
    border-radius: 7px;
    opacity: 1.0;
    transition: translate 0.5s;
}

#infoText {
    position: relative;
    font-size: 1rem;
    font-weight: 0;
    color: var(--light-color);
    line-height: 0px;
    padding-bottom: 7px;
    padding-left: 31px;
    padding-top: 42px;
    opacity: 1.0;
    transition: opacity 0.5s;
}


@media (max-width:500px) {
    * {
        display: none;
    }
}